/* dividing the window into 2 halves, top and bottom */
.top {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 50%;
  background: url(JAAGA.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/* creating transparent box for adding a paragraph */

.transbox {
  margin-left: 20px;
  margin-right: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
}

.logo{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
/* properties for the main jaaga logo */
.jaaga{
   margin-top: 5px;
   max-width: 500px;
   margin-left: auto;
   margin-right: auto;
   background-color: red;
}

.bottom {
    position: fixed;
    bottom: 0;
    height: 50%;
    width: 100%;
    left: 0px;
    background-color: orange;
	}

.pics{
  margin-left: 100px;
}
/* adding a hover effect for images on mouseover
*/
.pic{
  opacity: 1;
  filter: alpha(opacity=100);
 }
.pic:hover { -moz-box-shadow: 0 0 10px #ccc;
   -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    opacity: 0.3;
    filter: alpha(opacity=60);
  }
